.errorButton {
  padding: 8px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
}

.errorDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #1e1e1e;
  border-radius: 16px;
  color: #ffffff;
}
